* {
	font-family: 'Mystery Quest', cursive;
}

.splash-page {
	background-color: lightgray;
}

.splash-card{

	box-shadow: none;
	margin-top: 130px;
	text-align: center;
	background-color: lightgray;

	> h1 {
		font-family: 'Mystery Quest', cursive;
		font-size: 50px;
		color: rgb(66, 134, 244);

	}

	> img {
		margin-bottom: 50px;
	}

	.splash-btn {
		text-align: center;	
		font-family: 'Mystery Quest', cursive;
		height: 60px;
		font-size: 24px;
	}	
}

